<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= message %></p>
    <p><%= userId %></p>
    <p><%= Date.now().toLocaleString() %></p>

    <% if (bookId != 0) { %>
      <p> <%= bookId %></p>
    <%} else { %>
      <p> 0 </p>
    <% } %>

    
  </body>
</html>
